// Variables
@import "variables";
@import "mixin";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC');

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: $font-color-normal;
}


body {
    .wrapper {
        overflow: hidden;
    }

    h1 {
        font-family: 'Noto Serif SC', serif !important;
        text-align: center;
        font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic",
            sans-serif;
        font-weight: bolder;
    }

    h2 {
        padding: $vertical-sm-space/2 $vertical-sm-space;
        margin: $vertical-md-space auto $vertical-sm-space 0;
        border-right: solid 20px $orange;
        border-top: solid 2px $orange;
        border-left: solid 20px $orange;
        border-bottom: solid 2px $orange;
        background: $superlightgray;
    }

    h3 {
        padding: $vertical-sm-space/2 $vertical-sm-space;
        margin: $vertical-md-space auto $vertical-sm-space 0;
        border-left: solid 20px $red;
        border-bottom: solid 2px $red;
    }

    h4 {
        margin: $vertical-md-space auto $vertical-sm-space 0;
        color: $font-color-normal;
        font-weight: bold;
    }
}

.lg-section {
    margin: 0 auto $vertical-lg-space;
}
