// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito",
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-color-normal: #333333;
$footer-text-color-normal: #7c7c7c;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f1b6ca;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$lightgray: #c7c7c7;
$lightblue:rgba(159, 226, 250, 0.5);

$breakpoints: (sp: "only screen and (max-width:480px)",
tbl: "only screen and (max-width:896px) and (min-width:481px)"
);

// Space
$vertical-lg-space:80px;
