// @import "reset";
@import "variables";
@import "mixin";

@import "overall";

// コンポーネント
@import "component/header";
@import "component/footer";

// 
// トップページ
// 


/* ============================================================
  top view
===============================================================*/
#topview {
    background: url(../images/hero-img_1920.jpg) no-repeat center top fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

#toplogo {
    img {
        width: 400px;
        height: auto;
    }

    padding-top: 18vh;
    flex: 1;
    bottom: 0;
}

#subtitle {
    font-family: "Kokoro";
    font-size: 2rem;
    text-shadow: 0 0 7px gray;
    color: white;
    flex: 4;
}

@include media(sp) {
    #topview {
        height: 30vh;
    }

    #toplogo {
        padding-top: 5vh;

        img {
            width: 280px;
            height: auto;
        }
    }

    #subtitle {
        font-size: 1.2rem;
    }
}

#down {
    min-width: 100px;
    max-width: 200px;
    flex: 1;
}






.main-title {
    margin: $vertical-lg-space auto;

    h1 {
        font-weight: bold;
    }
}

.job-card {
    margin-bottom: $vertical-md-space;

    .card-subtitle {
        font-weight: bold;
    }

    .card-desc {
        margin-bottom: $vertical-sm-space;
    }
}

.card-img {
    width: 60%;
}

.myskillitems {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-row-gap: 15px;
    grid-column-gap: 1px;
    margin: 10px auto 55px;
}

.myskillitem {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 50px 250px;
    margin: 0 auto;
}

.skillicon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.skillname {
    font-family: 'Bree Serif', serif;
    line-height: 1.8rem;
    width: 250px;
    height: 50px;
    font-size: 1.4rem;
    padding-left: 20px;
    margin: 5px auto;
}


// 
// BuppanFlow紹介
// 
.lg-section-main-image {
    text-align: center;

    img {
        width: 60%;
    }
}

.tech-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: 380px 380px 380px;
    grid-template-rows: auto auto;

    @include media(tbl) {
        grid-template-columns: 380px 380px;
        grid-template-rows: auto auto auto;
    }

    @include media(sp) {
        grid-template-columns: 380px;
        grid-template-rows: auto auto auto;
    }

    .tech-card {
        margin: 0 $vertical-sm-space/2 $vertical-sm-space;
    }
}
