// Variables
@import "../variables";

// header
.login-name {
  color: #7f8c8d;
  display: block;
  padding: 0.5rem 1rem;
}

.list-icon {
  display: inline-block;
  width: 2rem;
  padding: 0 2rem 0 0.5rem;
  margin-right: 1rem;
  font-size: 1rem;
  text-align: center;
}
