@import url(https://fonts.googleapis.com/css?family=Noto+Serif+SC);@charset "UTF-8";

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #545454;
}

body .wrapper {
  overflow: hidden;
}

body h1 {
  font-family: "Noto Serif SC", serif !important;
  text-align: center;
  font-family: "Hiragino Kaku Gothic ProN", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "\30E1\30A4\30EA\30AA", Meiryo, "\FF2D\FF33   \FF30\30B4\30B7\30C3\30AF", "MS PGothic", sans-serif;
  font-weight: bolder;
}

body h2 {
  padding: 10px 20px;
  margin: 40px auto 20px 0;
  border-right: solid 20px #ffb66d;
  border-top: solid 2px #ffb66d;
  border-left: solid 20px #ffb66d;
  border-bottom: solid 2px #ffb66d;
  background: #eeeeee;
}

body h3 {
  padding: 10px 20px;
  margin: 40px auto 20px 0;
  border-left: solid 20px #e3342f;
  border-bottom: solid 2px #e3342f;
}

body h4 {
  margin: 40px auto 20px 0;
  color: #545454;
  font-weight: bold;
}

.lg-section {
  margin: 0 auto 80px;
}

.login-name {
  color: #7f8c8d;
  display: block;
  padding: 0.5rem 1rem;
}

.list-icon {
  display: inline-block;
  width: 2rem;
  padding: 0 2rem 0 0.5rem;
  margin-right: 1rem;
  font-size: 1rem;
  text-align: center;
}

footer {
  background-color: #34495e;
  color: #fff;
}

footer li {
  margin-left: 20px;
}

footer li .nav-item {
  margin-left: 20px;
}

footer li .nav-item-footer-nolink {
  color: #7c7c7c;
}

footer a.footer-link {
  color: gray;
}

footer .external-light {
  color: #f39c12;
}

.main-title {
  margin: 80px auto;
}

.main-title h1 {
  font-weight: bold;
}

.lg-section-main-image {
  text-align: center;
}

.lg-section-main-image img {
  width: 60%;
}

.tech-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 380px 380px 380px;
  grid-template-rows: auto auto;
}

@media only screen and (max-width:896px) and (min-width:481px) {
  .tech-grid {
    grid-template-columns: 380px 380px;
    grid-template-rows: auto auto auto;
  }
}

@media only screen and (max-width:480px) {
  .tech-grid {
    grid-template-columns: 380px;
    grid-template-rows: auto auto auto;
  }
}

.tech-grid .tech-card {
  margin: 0 10px 20px;
}

